/*
colors for my site
primary 
#000000
#ffffff
secondary
#b4b4b4
link
#4381C1
link hover
#234261
link active
#E30004
visited
#4381C1
*/

/* start style sheet */
/**********************************************************************************************************************/
/* zero out all margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* body */
/**********************************************************************************************************************/
body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
/* hrs */
/**********************************************************************************************************************/
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* h1 - h6 */
/**********************************************************************************************************************/

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 1.45rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 1.35em;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}
h4 {
  font-size: 1.15em;
  font-weight: 400;
}
#rad {
  font-family: "Permanent Marker", sans-serif;
  letter-spacing: 3px;
}
/* images */
img {
  width: 100%;
}

/* links */
a,
a:visited {
  color: #4381c1;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #234261;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active {
  /* selected link */
  color: #ff2a02;
}
/* buttons and specific links */
/**********************************************************************************************************************/

.email-btn,
.email-btn:visited {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  margin-bottom: 5px;
  transition: 0.2s opacity;
}
.email-btn:hover,
.email-btn:active {
  opacity: 0.8;
}
.project-link,
.project-link:visited {
  font-weight: 500;
  font-style: italic;
}
.project-link:hover,
.project-link:active {
  color: #234261;
  transition: 0.2s ease-in-out;
}
#btnSubmit,
#btnSubmit:active {
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border: 2px transparent solid;
}
#btnSubmit:hover,
#btnSubmit:active {
  background-color: #ffffff;
  color: #000000;
  border: #000000 2px solid;
  transition: 0.5s ease-in-out;
}
/* header and nav */
/**********************************************************************************************************************/

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}
.header-container #homeLink picture {
  flex-basis: 50%;
  text-align: left;
  align-self: center;
  margin-top: 25px;
  margin-left: 20px;
}
.header-container #homeLink picture img {
  width: 75%;
}
.header-container .menu-icon {
  flex-basis: 20%;
  align-self: center;
  text-align: right;
}

/* site navigation */
/**********************************************************************************************************************/

.header-container .menu-icon #showHide p .hamburger {
  color: #000000;
  font-size: 2em;
  margin-right: 25px;
  margin-bottom: 20px;
}
.header-container nav {
  text-align: left;
  margin-left: 25px;
  display: flex;
  display: none;
  flex-basis: 100%;
  flex-direction: column;
}
.header-container nav ul {
  list-style-type: none;
}
.header-container nav ul li {
  margin-bottom: 5px;
}

/* home hero banner */
/**********************************************************************************************************************/

#heroBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}
#heroBanner picture {
  text-align: center;
  padding: 10px;
}
#heroBanner picture img {
  width: 50%;
  border-radius: 50%;
  align-self: center;
}
#heroBanner .hero-text {
  text-align: center;
}
#heroBanner .hero-text p {
  padding: 10px;
}
/* container styling all pages */
/**********************************************************************************************************************/
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* home page */
/**********************************************************************************************************************/
#home main .container h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}
#home main .container section,
picture,
h3,
p,
.project-link {
  margin-bottom: 10px;
}

/**********************************************************************************************************************/
/* portfolio pages */
/**********************************************************************************************************************/

/* project banner all project pages */
/**********************************************************************************************************************/

.project-banner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}
.project-banner h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* cook */
/**********************************************************************************************************************/
#cookApp .container h2 {
  margin-bottom: 10px;
}
#cookApp .container .user-needs-cook {
  list-style-type: none;
  margin-left: 10px;
  font-weight: 500;
  margin-bottom: 25px;
}
/* about page */
/**********************************************************************************************************************/
main #aboutBanner {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
}
main #aboutBanner h1 {
  margin-top: 50px;
  margin-bottom: 10px;
}
main #aboutBanner h1,
picture {
  text-align: center;
  display: block;
}
main #aboutBanner picture img {
  width: 100%;
}
#about main .container {
  display: flex;
  flex-direction: column;
}
#about main .container section h2 {
  text-align: center;
  margin-bottom: 25px;
}
#about main .container section p,
a {
  margin-bottom: 10px;
}
#about main .container .skills {
  margin-top: 25px;
}
#about main .container .skills ul {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 10px;
}
/* contact page */
/**********************************************************************************************************************/
#contact main .container {
  display: flex;
  flex-direction: column;
}
#contact main .container h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
#contact main .container p {
  text-align: left;
  margin-bottom: 25px;
}
/* styling for form */
#contact main .container #form form {
  width: 100%;
  text-align: left;
}
#contact main .container #form form label {
  text-transform: uppercase;
}
#contact main .container #form form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}
/* font-family set here for placeholder */
#contact main .container #form form input::placeholder {
  padding-left: 10px;
  font-size: 1em;
  color: #565656;
  font-family: "Montserrat", sans-serif;
}
#contact main .container #form form textarea {
  width: 100%;
  margin-bottom: 5px;
  margin-top: -10px;
}
#contact main .container #form form textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
}
/* footer */
/**********************************************************************************************************************/
footer {
  background-color: #000000;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #ffffff;
}
.footer-container {
  padding: 2em 1em;
}
.footer-container h2,
.chat,
.outside-links,
.copy {
  margin-bottom: 10px;
}
.outside-links {
  font-size: 1.5rem;
}
.footer-container .outside-links .social-links,
.social-links:visited,
i {
  color: #ffffff;
  margin-left: 5px;
}
.footer-container .outside-links .social-links:hover,
.social-links:visited,
i:hover,
i:visited {
  color: #e30004;
  transition: 0.2s ease-in-out;
}

/**********************************************************************************************************************/
/* media queries */
/**********************************************************************************************************************/

/* medium devices */
/**********************************************************************************************************************/
@media only screen and (min-width: 768px) {
  /* container styling all pages ~ medium devices*/
  /**********************************************************************************************************************/
  .container {
    width: 80%;
  }

  /* home hero banner ~ medium devices*/
  /**********************************************************************************************************************/

  #heroBanner picture img {
    width: 35%;
  }
  /* project banner all project pages ~ medium devices*/
  /**********************************************************************************************************************/

  .project-banner {
    width: 80%;
  }

  /* header and nav ~ medium devices*/
  /**********************************************************************************************************************/

  .header-container #homeLink picture img {
    width: 50%;
  }
  .header-container #homeLink picture {
    margin-left: 50px;
  }
  .header-container .menu-icon {
    margin-right: 50px;
  }
  /* about page ~ medium devices*/
  /**********************************************************************************************************************/

  main #aboutBanner {
    width: 90%;
  }
  main #aboutBanner picture {
    margin: auto;
  }
  main #aboutBanner picture img {
    width: 90%;
  }
}
/* large devices */
/**********************************************************************************************************************/
@media only screen and (min-width: 1024px) {
  /* header and nav ~ large devices */
  /**********************************************************************************************************************/

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
  }
  .header-container #homeLink picture {
    text-align: left;
    align-self: left;
  }
  .header-container #homeLink picture img {
    width: 45%;
    margin-left: 30px;
  }
  .header-container .menu-icon {
    flex-basis: 0%;
  }
  /* site navigation ~ large devices */
  /**********************************************************************************************************************/

  .header-container .menu-icon #showHide p .hamburger {
    display: none;
  }
  .header-container nav {
    text-align: right;
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    margin-right: 50px;
  }
  .header-container nav ul {
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    justify-content: right;
  }
  .header-container nav ul li {
    margin-bottom: 0;
    margin-left: 15px;
  }
  /* project banner all project pages ~ large devices  */
  /**********************************************************************************************************************/

  .project-banner {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
  }
  .project-banner h1 {
    flex-basis: 100%;
  }
  .project-banner picture {
    flex-basis: 70%;
    padding: 0 2em;
  }
  .project-banner p {
    flex-basis: 30%;
    align-self: center;
  }
  /* home page ~ large devices */
  /**********************************************************************************************************************/
  #heroBanner picture img {
    width: 20%;
  }
  #home main .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #home main .container h2 {
    flex-basis: 100%;
  }
  #home main .container section {
    flex-basis: 50%;
    padding: 1em;
  }
  /* about page  ~ large devices */
  /**********************************************************************************************************************/
  main #aboutBanner picture img {
    width: 80%;
  }
  #about main .container {
    flex-direction: row;
  }
  #about main .container section {
    order: 1;
    flex-basis: 55%;
    padding: 1em;
  }
  #about main .container section h2 {
    text-align: left;
  }
  #about main .container section p {
    margin-top: 20px;
  }
  #about main .container .skills {
    order: 2;
    flex-basis: 45%;
  }

  /* contact page ~ large devices */
  /**********************************************************************************************************************/
  #contact main .container {
    flex-direction: row;
  }
  #contact main div {
    flex-basis: 50%;
    padding: 1em;
  }
  #contact main .container h1 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  #contact main form {
    flex-basis: 50%;
    padding: 1em;
  }
  /* footer ~ large devices */
  /**********************************************************************************************************************/
  /* footer {
    height: 200px;
  } */
  footer .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
  }
  footer .footer-container .chat,
  .outside-links {
    flex-basis: 50%;
  }
  footer .footer-container .chat {
    padding: 1em;
    flex-basis: 100%;
  }
  footer .footer-container .outside-links {
    padding: 1em;
    text-align: right;
    order: 3;
  }
  footer .footer-container .copy {
    flex-basis: 50%;
    margin-top: 1em;
    padding: 1em;
    text-align: left;
    order: 2;
  }
}
